<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page</title>
</head>

<body>
    <center><u>
            <h1>Uploaded Information</h1>
        </u>
        <table border=1>
            {% for k, v in data.items() %}
            <tr>
                <th> {{ k }}</th>
                <td> {{ v }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>
        <h3>Registration Successful</h3>
        </p>
    </center>

</body>

</html>